body{
	height: 100vh;
	width: 100vw;
	background-color: rgb(105, 105, 229);
}

.container{
	border: 2px solid rgb(179, 174, 174);
	width: 50vw;
	background-color: whitesmoke;
	border-radius: .5rem;
	padding: .5rem;
	margin-left: 25rem;
}