*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(255, 255, 255);
	height: 100vh;
	width: 100vw;
}

.header-container{
	height: 30vh;
	width: 90w;
	background-color: rgb(249, 202, 16);
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	margin: 5rem;
	padding: 2rem;
	border-radius: 1rem;
	margin-top: 2rem;
}

h1{
	position:absolute;
	margin-top: 2rem;
	margin-bottom: 20vh;
	margin-left: 45vw;
	font-size: 3rem;
}

.label{
	font-size: 1.5rem;
	font-weight: 500;
}

input{
	color: black;
	background-color: rgb(255, 255, 255);
	font-weight: 700;
}

#name, #surname, #date, #month, #year{
	height: 1.5rem;
	border-radius: 5px;
	border: 1px solid black;
	display: flex;
	margin-right: 1rem;
	font-size: 18px;
	text-align: center;
	height: 3rem;
	width: 12rem;
}

.submit-btn{
	position:absolute;
	height: 60px;
	width: 15rem;
	border-radius: 2rem;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 600;
	background-color: rgb(117, 178, 244);
	margin-top: 11rem;
	transition: 0.3s ease;
}

.submit-btn:hover{
	background-color: antiquewhite;
	cursor: pointer;
}



